<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('admin') }}">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {{  app.request.pathInfo == '/admin/' ? 'active' : '' }}" href="{{ path('admin') }}">Home</a>
            <a class="nav-item nav-link {{  app.request.pathInfo == '/admin/cat' ? 'active' : '' }}" href="{{ path('cat') }}">Category</a>
            <a class="nav-item nav-link {{  app.request.pathInfo == '/admin/tech' ? 'active' : '' }}" href="{{ path('tech') }}">Techno</a>
            <a class="nav-item nav-link {{  app.request.pathInfo == '/admin/skills' ? 'active' : '' }}" href="{{ path('skills') }}">Skills</a>
            <a class="nav-item nav-link {{  app.request.pathInfo == '/admin/projects' ? 'active' : '' }}" href="{{ path('projects') }}">Projects</a>
            <a class="nav-item nav-link" href="{{ path('home') }}">Logout</a>
        </div>
    </div>
</nav>