{% extends 'base.html.twig'%}

{% block body %}
    <table class="table table-striped my-2">
        <h1 class="text-center">Skills</h1>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Techno</th>
        </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <th scope="row">{{ skill.id }}</th>
                <td>{{ skill.name }}</td>
                <td>{{ skill.description }} </td>
                <td><img src="{{ asset('uploads/images/'~skill.image ) }}" width="50px"></td>
                <td>{{ skill.techno.name }} <img src="{{ asset('uploads/images/'~skill.techno.image ) }}" width="50px"> : {{ skill.techno.category.name }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#//qsdqsdqs#}
    <table class="table table-striped my-2">
        <h1 class="text-center">Projects</h1>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Skills</th>

        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <th scope="row">{{ project.id }}</th>
                <td>{{ project.name }}</td>
                <td>{{ project.description }} </td>
                <td><img src="{{ asset('uploads/images/'~project.image ) }}" width="50px"></td>
                <td> {% for skill in project.skill %}
                        {{ skill.name }},
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock  %}

{%  block footer %} {%  endblock %}